@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #4481eb;
  --primary-color-dark: #5995fd;
  --text-dark: #0c0a09;
  --text-light: hsl(25, 5%, 45%);
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  max-width: 120px;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}



nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9999;
}

.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
   background-color: var(--primary-color); 
  z-index: 9999;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: fixed;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(188, 28, 92, 0.9);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}

.nav__btn {
  display: none;
}

@media (width > 768px) {
    nav {
      padding: 2rem 1rem;
      position: static;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
    .nav__bar {
      padding: 0;
      background-color: transparent;
    }
  
    .nav__menu__btn {
      display: none;
    }
  
    .nav__links {
      padding: 0;
      width: unset;
      position: static;
      transform: none;
      flex-direction: row;
      background-color: transparent;
    }
  
    .nav__btn {
      display: block;
    }
  
    .nav__links a::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 2px;
      width: 0;
      background-color: var(--primary-color);
      transition: 0.3s;
      transform-origin: left;
    }
  
    .nav__links a:hover::after {
      width: 100%;
    }
}  

/* Basic dropdown styling */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10000;
}

.username {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(249, 249, 249, 0.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10001;
    border-radius: 10px;
    top: 100%;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

/* Show the dropdown content when hovering */
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 10001;
}