
.resroomnav{
    background-color: rgb(17, 186, 212);
}

.box {
    padding: 20px;
    margin: 20px;
  }
  
  h4, h5 {
    margin-bottom: 10px;
  }
  
  .room-details, .guest-details {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .guest-details div {
    margin-bottom: 15px;
  }
  
  .book-now-button {
    margin-top: 30px;
    text-align: center;
  }
  

  @media (max-width: 600px) {
    .resroomnav {
        padding-bottom: 60px; /* Adjust padding to avoid overlap */
    }
}